@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-gray: var(--light-gray);
  --font-onest: var(--font-onest);
  --color-dark-gray: var(--dark-gray);
  --color-accent: var(--accent);
  --color-blue-accent: var(--blue-accent);
  --color-off-gray: var(--off-gray);
  --color-gray: var(--gray);
  --color-custom-gray: var(--custom-gray);
}

:root {
  --background: #ffffff;
  --foreground: #262626;
  --gray: #d4d4d4;
  --light-gray: #f5f5f5;
  --dark-gray: #262626;
  --accent: #16a34a;
  --blue-accent: #60a5fa;
  --off-gray: #404040;
  --custom-gray: #A3A3A3;
}

.dark {
  --background: #121212;
  --foreground: #ffffff;
  --gray: #262626;
  --dark-gray: #262626;
  --accent: #22c55e;
  --blue-accent: #60a5fa;
  --off-gray: #E5E5E5;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background 0.3s ease, color 0.3s ease;
}


.custom-container {
  @apply max-w-[1280px] mx-auto px-4 md:px-6 lg:px-9 xl:px-12;
}

.hover-utility {
  @apply transition-all duration-200 ease-in-out
}

.navbar-active {
  @apply bg-gray text-foreground hover:bg-light-gray hover:text-white;
}

.ticker-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.ticker-track {
  display: inline-flex;
  animation: scroll 40s linear infinite;
}

.animate-scroll-reverse {
  animation: scroll-reverse 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.prose pre {
  @apply bg-gray-100 dark:bg-neutral-800 rounded-xl p-4 border border-neutral-300 dark:border-neutral-700 overflow-x-auto;
}

.prose code {
  @apply bg-gray-200 dark:bg-neutral-700 px-1.5 py-0.5 rounded-md text-sm font-medium;
}

.prose h1 {
  @apply text-4xl font-bold mb-6 mt-10;
}

.prose h2 {
  @apply text-2xl font-semibold mt-10 mb-4 border-b border-neutral-300 dark:border-neutral-700 pb-2;
}

.prose h3 {
  @apply text-xl font-semibold mt-6 mb-2;
}

.prose img {
  @apply rounded-xl shadow-md;
}

.prose a {
  @apply text-accent no-underline hover:underline;
}

.prose ul {
  @apply list-disc ml-6;
}

.prose li::marker {
  @apply text-accent;
}

/* Optional: scroll margin for anchor links on headings */
.prose h1,
.prose h2,
.prose h3 {
  scroll-margin-top: 5rem;
}