@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-gray: var(--light-gray);
  --font-onest: var(--font-onest);
  --color-dark-gray: var(--dark-gray);
  --color-accent: var(--accent);
  --color-blue-accent: var(--blue-accent);
  --color-off-gray: var(--off-gray);
  --color-gray: var(--gray);
  --color-custom-gray: var(--custom-gray);
}

:root {
  --background: #ffffff;
  --foreground: #262626;
  --gray: #d4d4d4;
  --light-gray: #f5f5f5;
  --dark-gray: #262626;
  --accent: #16a34a;
  --blue-accent: #60a5fa;
  --off-gray: #404040;
  --custom-gray: #A3A3A3;
}

.dark {
  --background: #121212;
  --foreground: #ffffff;
  --gray: #262626;
  --light-gray: #f5f5f5;
  --dark-gray: #262626;
  --accent: #22c55e;
  --blue-accent: #60a5fa;
  --off-gray: #E5E5E5;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background 0.3s ease, color 0.3s ease;
}

/* Custom utility for bg-light-gray */
.bg-light-gray {
  background-color: var(--light-gray) !important;
}

.custom-container {
  @apply max-w-[1280px] mx-auto px-4 md:px-6 lg:px-9 xl:px-12;
}

.hover-utility {
  @apply transition-all duration-200 ease-in-out
}

.navbar-active {
  @apply bg-gray text-foreground hover:bg-light-gray hover:text-white;
}